include:
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: License-Scanning.gitlab-ci.yml
  - template: SAST.gitlab-ci.yml
  - template: Code-Quality.gitlab-ci.yml

variables:
  SAST_DEFAULT_ANALYZERS: "gosec,secrets"
  GO111MODULE: "on"

stages:
  - test
  - security
  - build
  - acceptance-test
  - package
  - publish
  - docker

.on-non-tag:
  rules:
    - if: '$CI_MERGE_REQUEST_EVENT_TYPE == "detached"'
      when: never
    - if: '$CI_COMMIT_TAG == null'
      when: always
    - if: '$CI_MERGE_REQUEST_EVENT_TYPE != null && $CI_MERGE_REQUEST_EVENT_TYPE != "detached"'
      when: always

lint:
  extends: .on-non-tag
  image: golangci/golangci-lint:v1.27
  stage: test
  allow_failure: true
  needs: []
  script:
    - golangci-lint run --out-format=junit-xml --timeout=10m > golangci-output.xml
    - golangci-lint run --out-format=checkstyle --timeout=10m > golangci-output-checkstyle.xml
  artifacts:
    paths:
      - golangci-output-checkstyle.xml
    reports:
      junit: golangci-output.xml
    expire_in: 7 days

.go-builder:
  extends: .on-non-tag
  image: golang:1.15.2-alpine3.12
  before_script:
    - apk update
    - apk add git make curl
    - go get -u github.com/jstemmer/go-junit-report

depencencies_graph:
  extends: .go-builder
  stage: build
  needs: []
  script:
    - apk add python3
    - make dependencies.svg
  artifacts:
    paths:
      - dependencies.svg

build:
  extends: .go-builder
  stage: build
  needs: []
  script:
    - make static_release
  artifacts:
    paths:
      - ./lightmeter
    expire_in: 7 days



dev-build:
  extends: .go-builder
  stage: test
  needs: []
  script:
    - make dev

test:
  extends: .go-builder
  stage: test
  needs: []
  script:
    - ./tools/go_test.sh -v 2>&1 | ~/go/bin/go-junit-report > report.xml
  artifacts:
    reports:
      junit: report.xml
    expire_in: 7 days

cover:
  extends: .go-builder
  stage: test
  needs: []
  script:
    - go get -u github.com/t-yuki/gocover-cobertura
    - ./tools/go_test.sh -coverprofile=coverinfo.txt
    - go run github.com/t-yuki/gocover-cobertura < coverinfo.txt > cobertura.xml
    - go tool cover -html=coverinfo.txt -o coverage.html
    - go tool cover -func=coverinfo.txt
  coverage: /^total:\s+.*\s(\d+\.\d+)%$/
  artifacts:
    reports:
      cobertura: cobertura.xml
    paths:
      - coverage.html
      - coverinfo.txt
    expire_in: 7 days

acceptance-test:
  extends: .on-non-tag
  image: registry.gitlab.com/lightmeter/acceptance-tests-docker-image
  stage: acceptance-test
  needs:
    - build
  script:
    - npm --prefix acceptance_tests link
    - npm --prefix acceptance_tests test
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - acceptance_tests/node_modules/
  artifacts:
    paths:
      - acceptance_tests/reports/html-report/
    reports:
      junit: acceptance_tests/reports/xml-report/result.xml
    expire_in: 7 days

publish-binaries:
  extends: .go-builder
  stage: package
  needs:
    - build
  dependencies:
    - build
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - VERSION.txt
      when: manual
  script:
    - curl -fL https://getcli.jfrog.io | sh
    - ./ci/publish_binaries.sh

publish-release:
  extends: .on-non-tag
  stage: publish
  image: registry.gitlab.com/gitlab-org/release-cli
  needs:
    - publish-binaries
  dependencies:
    - publish-binaries
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - VERSION.txt
      when: on_success
  script:
    - ./ci/release_on_gitlab.sh

license_scanning:
  extends: .on-non-tag
  stage: test
  needs: []

sast:
  extends: .on-non-tag
  stage: test
  needs: []

dependency_scanning:
  extends: .on-non-tag
  stage: test
  needs: []

code_quality:
  extends: .on-non-tag
  stage: test
  needs: []

publish-docker-image:
  rules:
    - if: '$CI_COMMIT_TAG != null'
      when: always
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  stage: docker
  needs: []
  script:
    - sh ci/publish_docker_image.sh

# NOTE: this step must come after the coverage report
# as it collects some artefacts from it!
sonarcloud-check:
  stage: security
  dependencies:
    - cover
    - lint
  needs:
    - cover
    - lint
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.projectVersion=$(cat VERSION.txt)
  rules:
    - if: '$CI_MERGE_REQUEST_EVENT_TYPE == "detached"'
      when: never
    - if: '$CI_COMMIT_TAG == null && $SONAR_HOST_URL != null'
      when: always
