.dashboard-gadget {
}

.dashboard-line {
}

.dashboard-line {
}

.modebar {
    display: none !important;
}

body {
    background: #F4FAFD!important;
}

.main-content {
}

#date-from, #date-to {
  display: none;
}

header .navbar {
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #2C9CD61A;
    opacity: 1;
}

header .logo img {
    height: 30px;
}

header .buttons {
    color: #2C9CD6;
}

.time-interval {
    margin: 0.6rem 0 0.3rem 0;
}

#time-interval-field {
    font: Bold 12px/16px Open Sans;
    letter-spacing: 0px;
    color: #2C9CD6;    
}

#time-interval-field span {
    text-align: center;
}

div#time-interval-field {
    background: #2C9CD60D 0% 0% no-repeat padding-box;
    border: 1px solid #2C9CD633;
    border-radius: 20px;
}

.time-interval label {
    text-align: right;
    font: 12px/16px Open Sans;
    letter-spacing: 0px;
    color: #20232
}

footer {
    padding: 0.5rem 0;
    margin-top: 1rem;
}

footer, footer a, footer a:hover {
    background: #426475 0% 0% no-repeat padding-box;
    font: 12px/15px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
}

footer p {
    margin: 0;
}

.card .card-title {
    font: 12px/20px Inter;
    letter-spacing: 0px;
    color: #202324;
    font-weight: bold;
}
